SERPAPI_KEY='YOUR_API_KEY'
PATENT_S3_BUCKET=patent-pdf-input-786827631714
API_PORT=8000
PYTHONPATH=/home/ec2-user/patent-agent/src

GITHUB_CLIENT_ID='YOUR_CLIENT_ID'
GITHUB_CLIENT_SECRET='YOUR_CLIENT_SECRET'
JWT_SECRET='YOUR_JWT_SECRET'
FRONTEND_URL=http://16.58.60.237
ADMIN_EMAILS=Advantage@oregonstate.edu
ALLOWED_EMAIL_DOMAIN=gmail.com,oregonstate.edu
